// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2020 Rockchip Electronics Co., Ltd.
 * Copyright (c) 2023 EmbedFire Electronic Technology Co., Ltd.
 *
 * LubanCat-2IO development board devicestree
 */

#include "rk3568-lubancat-2core-port.dtsi"


/ {
	model = "LubanCat-2IO";
	compatible = "rockchip,rk3568-lubancat-2io", "rockchip,rk3568";

	vcc5v0_sys: vcc5v0-sys {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
	};

	/* DASHCAM NEED */
	vcc5v0_usb30_host: vcc5v0-usb30-host-regulator {
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = <&gpio0 RK_PD6 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&usb30_host1_pwr_en>;
		regulator-name = "vcc5v0_usb30_host";
		regulator-always-on;
		vin-supply = <&vcc5v0_sys>;
	};

	/* DASHCAM NEED */
	vcc5v0_usb20_host2: vcc5v0-usb20-host-regulator {
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = <&gpio0 RK_PD5 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&usb20_host2_pwr_en>;
		regulator-name = "vcc5v0_usb20_host2";
		regulator-always-on;
		vin-supply = <&vcc5v0_sys>;
	};

	/* DASHCAM NEED */
	vdd_3v3: minipcie-3v3-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vdd_3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		enable-active-high;
		regulator-always-on;
		gpio = <&gpio3 RK_PC3 GPIO_ACTIVE_HIGH>;
		startup-delay-us = <5000>;
		vin-supply = <&vcc5v0_sys>;
	};

	adc_keys: adc-keys {
		compatible = "adc-keys";
		io-channels = <&saradc 0>;
		io-channel-names = "buttons";
		keyup-threshold-microvolt = <1800000>;
		poll-interval = <100>;

		recovery {
			label = "recovery";
			linux,code = <KEY_ENTER>;
			press-threshold-microvolt = <1000000>;
		};
	};

	leds: leds {
		status = "okay";
		compatible = "gpio-leds";

		led0: led0 {
			label = "heartbeat";
			linux,default-trigger = "heartbeat";
			default-state = "on";
			gpios = <&gpio4 RK_PD2 GPIO_ACTIVE_HIGH>;
			pinctrl-names = "default";
			pinctrl-0 = <&led0_pin>;
		};	
	};

};


&sfc{
	status = "okay";
};


&xin32k {
	status = "disabled"; //use for RX8010_nIRQ1
};

&rk809 {
	rtc {
		status = "disabled"; //use rx8010
	};
};

&uart3 {
	status = "disabled"; //Default to use DTBO
};

&uart4 {
	status = "disabled"; //Default to use DTBO
};

&uart7 {
	status = "disabled"; //Default to use DTBO
};

&uart9 {
	status = "disabled"; //Default to use DTBO
};


/* USB OTG/USB Host_1 USB 2.0 Comb */
&usb2phy0 {
	status = "okay";
};

&u2phy0_host {
	status = "okay";
	phy-supply = <&vcc5v0_sys>;
	vbus-supply = <&vcc5v0_sys>;
};

&u2phy0_otg {
	status = "okay";
	phy-supply = <&vcc5v0_sys>;
	vbus-supply = <&vcc5v0_sys>;
};

&usb_host0_ehci {
	status = "okay";
};

&usb_host0_ohci {
	status = "okay";
};

/* USB Host_2/USB Host_3 USB 2.0 Comb */
&usb2phy1 {
	status = "okay";
};

&u2phy1_otg {
	status = "okay";
	phy-supply = <&vcc5v0_sys>;
	vbus-supply = <&vcc5v0_usb20_host2>;
};

&u2phy1_host {
	status = "okay";
	phy-supply = <&vcc5v0_sys>;
	vbus-supply = <&vcc5v0_usb20_host2>;
};

&usb_host1_ehci {
	status = "okay";
};

&usb_host1_ohci {
	status = "okay";
};

/* MULTI_PHY0 For USB3.0 OTG0 */
&combphy0_us {
	phy-supply = <&vcc5v0_sys>;
	status = "okay";
};

&sata0 {
	status = "disable";
};

&usbdrd30 {
	status = "okay";
};

&usbdrd_dwc3 {
	dr_mode = "peripheral";
	status = "okay";
};

/* MULTI_PHY1 For USB3.0 HOST1 */
&combphy1_usq {
	phy-supply = <&vcc5v0_sys>;
	status = "okay";
};

&sata1 {
	status = "disabled";
};

&usbhost30 {
	status = "okay";
};

&usbhost_dwc3 {
	status = "okay";
};

/* MULTI_PHY2 For PCIe2.0 */
&combphy2_psq {
	phy-supply = <&vcc5v0_sys>;
	status = "okay";
};

/* Mini PCIe */
&pcie2x1 {
	reset-gpios = <&gpio3 RK_PC1 GPIO_ACTIVE_HIGH>;
	disable-gpios = <&gpio3 RK_PC2 GPIO_ACTIVE_HIGH>;
	vpcie3v3-supply = <&vdd_3v3>;
	status = "okay";
};

&rockchip_suspend{
	status = "okay";
};

&pinctrl {
	leds {
		led0_pin: led0-pin {
			rockchip,pins = <4 RK_PD2 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	usb {
		usb30_host1_pwr_en: usb30-host1-pwr-en {
			rockchip,pins =	<0 RK_PD6 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		usb20_host2_pwr_en: usb20-host2-pwr-en {
			rockchip,pins = <0 RK_PD5 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};
